<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body> <!---{{변수}} 형식으로 동적 기능 가능함--->
    <main class="container">
        <h1>Job Scraper</h1> 
        <h4>What job do you want?</h4>
        <!--form: 기본으로 method="get" 포함 > input을 링크 주소에 넣어줌-->
        <form action="/search"> <!---action: form이 어느 페이지로 이어주는지-->
            <input type="text" name="keyword" placeholder="Write one keyword please" />
            <button>Search</button>
        </form>
    </main>
</body>
</html>